block config
	-var title = '投资大师';
	-var css = 'kxlist';
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		script(src="/js/flexible.js")
		link(rel="stylesheet" href="/css/#{css}.css")
	body
		.p-w
			.dy-shidi
				h2.f32
					img(src="/img/icon_yan.png")
					| 近期实地调研预告
				ul.dh-top
					li
						b  时间
						span 2016/5/24  14:00
					li
						b  地点
						span 牛顿办公区
					li
						b  电话
						span 400-633-5058
					li
						b 介绍
						p 林正仪25日上午到“立法院教育及文化委员会”业务报告，国民党“立委”吴志扬提到，未来台北故宫与北京故宫之间要如何互动？林正仪透露，“目前北京故宫文物.
			.dh-huiyi
				h2.f32
					img(src="/img/icon_time.png")
					| 往期实地调研
				ul.dh-list.cBlack
					li
						a(href="")
							i 2016/5/23期电话会议
							em 
					li
						a(href="")
							i 2016/5/23期电话会议
							em 
					li
						a(href="")
							i 2016/5/23期电话会议
							em 

				.dh-bottom.cGray.ftc
					a(href="") 加载更多
