block config
	-var title = '新闻详情';
	-var css = 'rilicon';
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		link(rel="stylesheet" href="css/#{css}.css")
	body
		.newsText
			h1.f24 标题标题标题标题标题标题标题标题标题
			h3.f16 来源来源 今天 09:27
			.text.f18
				p 2015年初以来的我国房地产市场出现明显的分化走势，以北京、上海、深圳为代表的一线城市价升量增，而大多数三、四线城市去库存的压力有增无减。房地产走势的分化是我国房地产市场最近十几年第一次出现，必有其内在的原因。我们分析当前的房地产市场形势从市场分化这个特点入手。
				dl.nyingx.f18
					dt
						b.cRed 影响板块：
						span 机器人
					dd
						b.cRed 重要性：
						span
						span
						span
			h2.f18 事件解读
			.jdbox.f18
				p 2015年初以来的我国房地产市场出现明显的分化走势，以北京、上海、深圳为代表的一线城市价升量增，而大多数三、四线城市去库存的压力有增无减。房地产走势的分化是我国房地产市场最近十几年第一次出现，必有其内在的原因。我们分析当前的房地产市场形势从市场分化这个特点入手。
				img(src="/img/img.jpg")
				p 2015年初以来的我国房地产市场出现明显的分化走势，以北京、上海、深圳为代表的一线城市价升量增，而大多数三、四线城市去库存的压力有增无减。房地产走势的分化是我国房地产市场最近十几年第一次出现，必有其内在的原因。我们分析当前的房地产市场形势从市场分化这个特点入手。
				.tishi.f16 风险提示：投资有风险，入市需谨慎！本文内容仅供参考，不作为投资建议，风险自负。






